doctype html
html(lang="en")
  head
    title Flash Cards
  body
    h1 The future home of something magical
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu. Porta nibh venenatis cras sed felis. Ultricies mi quis hendrerit dolor magna eget est lorem. Diam vel quam elementum pulvinar. Facilisis leo vel fringilla est ullamcorper eget nulla. Cursus metus aliquam eleifend mi in. Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Eu ultrices vitae auctor eu augue ut lectus. Nunc sed blandit libero volutpat sed cras ornare arcu. Nibh cras pulvinar mattis nunc sed blandit libero volutpat. Aliquet enim tortor at auctor urna nunc id cursus metus. Ut diam quam nulla porttitor massa id. Accumsan in nisl nisi scelerisque eu. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Elit ut aliquam purus sit. Volutpat ac tincidunt vitae semper quis lectus nulla at.
